<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-08-30T03:27:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/shineaungkhant/kotlil-multi-platform-projects/CommonComposablesCMP-Batch-1/iosApp/iosApp.xcodeproj</string>
</dict>
</plist>
